{% extends "layout.html.twig" %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/contact_style.css">
{% endblock %}
{% block content %}


	<section class="get-in-touch">
		<div class="title col-10 col-lg-6 m-auto">
			<h1>Une question ?
			</h1>
			<h2>N'hésitez pas à nous écrire !</h2>
		</div>

		{% if errors is defined %}
			<div class=" pill rounded-pill border border-2 p-2 my-5 shadow-sm text-center   alert alert-danger " role="alert">
				Veuillez remplir tout les champs
			</div>
		{% endif %}
		{% if message is defined and message is not empty  %}
			<div class=" pill rounded-pill border border-2 p-2 my-5 shadow-sm text-center   alert alert-success " role="alert">
				Nous avons bien recu votre demande
			</div>
		{% endif %}
		<div class="container">
            <form class="contact-form row justify-content-center justify-content-lg-start" method="POST" action="/form">
                <div class="form-field col-10 col-lg-6">
                    <input class="input-text js-input" type="text" name="nom" value="{{ data.nom }}">
                    <label class="label" for="Nom">Nom</label>
                </div>
                <div class="form-field col-10 col-lg-6">
                    <input class="input-text js-input" type="text" name="prenom" value="{{ data.prenom }}">
                    <label class="label" for="Prénom">Prénom</label>
                </div>

                <div class="form-field col-10 col-lg-6 ">
                    <input class="input-text js-input" type="email" name="email" value="{{ data.email }}">
                    <label class="label" for="email">E-mail</label>
                </div>
                <div class="form-field col-10 col-lg-6 ">
                    <input class="input-text js-input" type="text" name="telephone" value="{{ data.telephone }}">
                    <label class="label" for="phone">Téléphone</label>
                </div>
                <div class="form-field col-10 col-lg-12">
                <textarea class="input-text js-input" name="message" value="{{ data.message }}"></textarea>

                    <label class="label" for="message">Message</label>
                </div>
                <div class="form-field col-10 col-lg-12 text-center">
                    <input class="submit-btn" type="submit" value="Envoyer">
                </div>
            </form>
        </div>
	</section>

{% endblock %}
