{% extends 'layout.html.twig' %}

{% block content %}

	<section class="products container col-8">
		<div class="row">
			<h1>Mon panier</h1>
			{% if user.cart is empty %}
				<h4 class='text-muted'>Votre panier est vide ...</h4>
			{% endif %}

			{% if user.cart is not empty %}
				<section class='container'>
					<table class="table table-striped">
						<thead>
							<tr>
								<th class='col-5'>Plat</th>
								<th class='col-1 text-center'>Type</th>
								<th class='col-1 text-center'>Qte</th>
								<th class='col-1 text-center'>Qte Total</th>
								<th class='col-1 text-end'>Prix Unitaire</th>
								<th class='col-1 text-end'>Prix Total</th>
							</tr>
						</thead>
						<tbody>

							{% for key,item in user.cart %}
								<tr>
									<td>{{item.name}}</td>
									<td class='text-center'>{{item.type}}</td>
									<td>
										<div class="d-flex justify-content-center">
											<a href="/panier/edit?to=del&id={{key}}">
												<button type="button" class="btn btn-primary btn-sm py-0 m-1">-</button>
											</a>
											<a href="/panier/edit?to=add&id={{key}}">
												<button type="button" class="btn btn-primary btn-sm py-0 m-1">+</button>
											</a>
										</div>
									</td>
									<td class='text-center'>
										{{item.qte}}
									</td>
									<td class='text-end'>{{item.price}}€</td>
									<td class='text-end'>{{item.price * item.qte}}€</td>
									<td class='text-end col-1'>
										<a href="/panier/delete?id={{key}}">
											<button type="button" class="btn btn-primary px-1 py-0">
												<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash" viewbox="0 0 16 16">
													<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
													<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
												</svg>
											</button>
										</a>
									</td>
								</tr>
							</td>
						</tbody>
					</tr>
				{% endfor %}

			</tbody>
			<tfoot>
				<th></th>
				<td></td>
				<th colspan='0' class='text-center'>Total</th>
				<td class='text-center'>{{total_item}}</td>
				<td></td>
				<td class='text-end'>{{total_price}}€</td>
				<td></td>
			</tfoot>

		</table>

		<div class="text-end">
			<a href="panier/empty">
				<button type="button" class="btn btn-danger btn-sm">Vider le panier</button>
			</a>
		</div>

		<div class="text-center">

			{% if user.user_details is empty %}

				<a href="/reservation?from=cart">
					<button type="button" class="btn btn-primary">Valider mon panier</button>
				</a>
			{% else %}

				<a href="panier/validation">
					<button type="button" class="btn btn-primary">Valider mon panier</button>
				</a>
			{% endif %}


		</div>
	{% endif %}
</div></section>{% endblock %}
