{% extends "layout.html.twig" %}

{% block content %}
	<div class=" container border border-1 rounded-3 shadow mt-4 mb-3 pt-4 text-center col-7">
		<h2 class='fs-4 mb-4'>
			Voici le récapitulatif de votre commande :
		</h2>

		<h2 class='fs-4 mb-3'>
			Détails :</h2>
		<div class="d-flex justify-content-center">
			<div class=" container border border-1 rounded-3 shadow-sm mt-4 mb-3 pt-4 text-center col-3">

				<p class=''>
					<strong>Date de réservation :</strong>
				</p>
				<p>{{user.user_details.reservation_date}}</p>
			</div>

			<div class=" container border border-1 rounded-3 shadow-sm mt-4 mb-3 pt-4 text-center col-4">
				<p class='fs-6'>
					<strong>Adresse:</strong>
					<br>
					{{user.user_details.street_num}}
					{{user.user_details.street}}
					<br>
					{{user.user_details.post_code}}
					{{user.user_details.city}}</p>
			</div>

		</div>


		<section class='container mb-5'>
			<table class="table table-striped">
				<thead>
					<tr>
						<th class='col-3 text-start'>Plat</th>
						<th class='col-1 text-center'>Type</th>
						<th class='col-1 text-center'>Qte</th>
						<th class='col-1 text-center'>Prix Unitaire</th>
						<th class='col-1 text-end'>Prix Total</th>
					</tr>
				</thead>
				<tbody>

					{% for key,item in user.cart %}
						<tr>
							<td class='text-start'>{{item.name}}</td>
							<td class='text-center'>{{item.type}}</td>
							<td class='text-center'>
								{{item.qte}}
							</td>

							<td class='text-center'>{{item.price}}€</td>
							<td class='text-end'>{{item.price * item.qte}}€</td>

						</tr>
					</td>
				</tbody>
			</tr>
		{% endfor %}

	</tbody>
	<tfoot>
		<th></th>

		<th colspan='0' class='text-center'>Total</th>
		<td class='text-center'>{{total_item}}</td>
		<td></td>
		<td class='text-end'>{{total_price}}€</td>


	</tfoot>

</table></section></div><div class="text-center"><a href="/panier/order_recap">


<a href="/panier/mailto" class="btn btn-primary mb-2">Finaliser ma commande</a></div><div class="text-center">

<button type="button" class="btn btn-danger btn-sm">Retour au panier</button></div>{% endblock %}
