{% extends "layout.html.twig" %}

{% block content %}

{{dump(user)}}
<div class=" container border border-1 rounded-3 shadow mt-4 mb-5">
		<div class="container mt-4 mb-0 text-center py-auto">
			<h2 class='fs-5'>Veuillez confirmer la date et le lieu pour votre commande </h2>
            <h3 class='fs-5 text-muted mb-4'>Vous aviez déjà renseigné : </h3>

            <strong>
                <p>Date de réservation :<br> {{user.user_details.reservation_date}}</p>
                <p>Adresse: <br> {{user.user_details.street_num}}  {{user.user_details.street}} <br>
                 {{user.user_details.post_code}} {{user.user_details.city}}</p>
                     <p>Contact:<br></p>
            </strong>

		</div>
</div>
{% endblock %}
