<body style="background-color:whitesmoke;font-size:18px;padding:60px" align="center">
	<h2>Détail de votre commande</h2>

	<table style="width:100%;border:1px solid green;font-size:18px" cellpadding=" 0" cellspacing=" 0">
		<thead style="background-color:#91D776; height:50px; color:white;font-weight:bold;">
			<tr>
				<td style="width:60%;padding:5px;">Vos Plats</td>
				<td style="text-align:center">Prix</td>
				<td style="text-align:center">Quantité</td>
			</tr>

		</thead>
		<tbody>

			{% set totalprice = 0 %}
			{% set totalqte = 0 %}
			{% for product in cart %}
				{% set totalprice = totalprice + ( product['price'] * product['qte']) %}
				{% set totalqte = totalqte + product['qte'] %}
				<tr>
					<td style="width:20%;padding:5px;font-weight: bold;">
						{{ product['name'] }}
					</td>
					<td style="text-align:center">
						{{ product['price'] }}
					</td>
					<td style="text-align:center">
						{{ product['qte'] }}
					</td>

				</tr>
			{% endfor %}
		</tbody>
		<tfoot style="background-color:#8CCE73; height:50px; color:white;font-weight:bold;">

			<tr>
				<td style="width:20%;padding:5px;font-weight: bold;">
					Total
				</td>
				<td style="text-align:center">
					{{ totalprice }}
				</td>
				<td style="text-align:center">
					{{ totalqte }}
				</td>

			</tr>
		</tfoot>
	</tbody>
</body></table></body>
